/* Header */
header {
    margin-top: 0px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', ourier, monospace;
    background: url(../img/gato-background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 180px;  
    align-items: center;  
}
.header-caixa {
    align-items: center;
    display: flex;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
/* Main */
main {
    padding: 100px;
}
.todos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.todos div img {
    width: 250px;
    height: 150px;   
}

.todos:last-child {
    margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header-caixa {
        flex-direction: column;
    }

    .todos {
        flex-wrap: wrap;
    }

    .todos:last-child {
        margin-top: 0;
    }
}