/* GERAL */
* {
  color: #4A4A4A;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
  min-height: calc(100vh - 40px); 
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.navbar__box {
  max-width: 1000px;
  margin: 0 auto;
}

.navbar__logo {
  display: inline-block;
  width: 140px;
  height: 20px;
  margin-left: 71px;
}

.navbar__nav {
  display: inline-block;
  margin-left: 420px;
  padding: 0;
}

.navbar__nav li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

.navbar__nav li a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar__menu-btn {
  display: none;
}

/* BLOG POSTS */
.posts__title {
  color: #9013FE;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding-top: 100px;
  margin-top: 0; 
}

/* SECTION */
.posts {
  max-width: 825px;
  margin: 0 auto;
}

.half-column {
  display: inline-block;
  min-height: 480px;
  vertical-align: top;
}
/* AUTHOR AREA */
.posts__author-area {
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  width: 200px;
}

.posts__author-area img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 0 auto;
  display: block;
}

.posts__author-area p {
  font-size: 14px;
  text-align: center;
}

.posts__author-area span {
  font-weight: bold;
}


/* MAIN AREA */
.posts__main-area {
  max-width: 600px;
  margin-left: 20px;
}

.posts__main-area h1 {
  font-weight: bold;
  font-size: 36px;
  margin-top: 0;
}

.posts__main-area p {
  font-size: 24px;
}

.posts__main-area img {
  max-width: 600px;
  width: 100%;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  /* height: 50px; */
}

@media screen and (max-width: 900px) {
  .half-column {
    min-height: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .posts__main-area {
    margin-top: 25px; 
    margin-bottom: 25px;
    padding: 0 25px;
  }

  .navbar__box {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .navbar__nav {
    display: none;
  }

  .navbar__menu-btn {
    display: block;
  }

  .posts__title {
    padding-top: 80px;
  }
}